* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.h-font {
    font-family: "Merienda", cursive;
}

.custom-bg {
    background-color: #27c1ac;
}

.custom-bg:hover {
    background-color: #279e8c;
}

.avalibilty-form {
    margin-top: -50px;
    position: relative;
    z-index: 10;
}
.swiper {
    width: 100%;
    /* padding-top: 50px;
    padding-bottom: 50px; */
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    /* width: 300px;
    height: 300px; */
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

@media screen and (max-width : 575px) {
    .avalibilty-form {
        margin: 0px;
        padding: 0 35px;
    }
}